.thank_you_card__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thank_you_card__rated {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.thank_you_card__rated p {
  background-color: var(--neutral-600);
  color: var(--primary);
  border-radius: 20px;
  width: fit-content;
  padding: 10px 15px;
}

.thank_you_card__thanks {
  color: var(--neutral-100);
  font-weight: var(--font-weight-500);
  font-size: 24px;
  text-align: center;
}

.thank_you_card__description {
  color: var(--neutral-300);
  font-weight: var(--font-weight-500);
  text-align: center;
}
