.thank_you_card__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thank_you_card__rated {
  background-color: var(--neutral-600);
  color: var(--primary);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
