.card {
  background-color: var(--neutral-700);
  width: 500px;
  margin: 30px;
  padding: 25px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__img {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  background-color: var(--neutral-600);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__img img {
  padding: 10px;
}

.card__title {
  color: var(--neutral-100);
  font-weight: var(--font-weight-500);
  font-size: 24px;
}

.card__description {
  color: var(--neutral-300);
  font-weight: var(--font-weight-500);
}

.card__ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__rating {
  padding: 5px;
  background-color: var(--neutral-600);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
}

.card__rating p {
  margin: auto;
  color: var(--neutral-300);
}

.card__button {
  background-color: var(--primary);
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: var(--neutral-100);
  text-transform: uppercase;
  letter-spacing: 2px;
}
